html {
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
}

.sans-serif {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.serif {
  font-family: williams-caslon-text, serif;
  font-style: normal;
  font-weight: 400;
}

.typewriter {
  font-family: ff-nexus-typewriter, sans-serif;
  font-style: normal;
  font-weight: 400;
}

nav {
  font-family: Roboto, sans-serif;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  color: #000;
}

.topnav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

  .cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  .cards li {
    display: inline-block;
    margin: 0 .5em 1em;
    max-width: 20em;
    padding: 1em;
    background-color: #fff;
    border: 3px solid #e2e2e2;
    border-radius: 10px;
    text-align: left;
  }

  .cards img {
    display: block;
    margin: 0 auto 1rem;
  }

  .cards strong {
    display: block;
    margin-bottom: 1rem;

    font-size: 1.125rem;
  }

  .cards dl {
    margin-bottom: 1rem;
  }

  .cards dt {
    display: inline-block;
    width: 6em;
    font-style: italic;
  }

  .cards dd {
    display: inline-block;
    margin: 0;
    min-width: 9em;
  }

  .cards div {
    text-align: center;
  }

  .cards a {
    display: inline-block;
    padding: .5em .75em;
    background-color: #ccc;
    border-radius: 4px;
    color: #000;
    text-decoration: none;
  }

  .cards a:hover {
    background-color: #fff;
    color: #fff;
  }
