html {
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
}

.sans-serif {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.super-bold {
  font-weight: 900;
}

.serif {
  font-family: williams-caslon-text, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

.typewriter {
  font-family: ff-nexus-typewriter, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

a {
  text-decoration: none;
}

h1 a {
  color: black;
}

nav {
  font-family: Roboto, sans-serif;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  color: #000;
  text-decoration: none;
}

.shading {
  background-color: #d9d9d9;
}

.black {
  color: black;
}

.topnav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.tinybanner {
  padding-top: 6.5em;
}

  .cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  .cards li {
    display: inline-block;
    margin: 0 .5em 1em;
    max-width: 20em;
    padding: 1em;
    background-color: #fff;
    border: 3px solid #d9d9d9;
    border-radius: 10px;
    text-align: left;
  }

  .cards img {
    display: block;
    margin: 0 auto 1rem;
  }

  .cards strong {
    display: block;
    margin-bottom: 1rem;

    font-size: 1.125rem;
  }

  .cards dl {
    margin-bottom: 1rem;
  }

  .cards dt {
    display: inline-block;
    width: 6em;
    font-style: italic;
  }

  .cards dd {
    display: inline-block;
    margin: 0;
    min-width: 9em;
  }

  .cards div {
    text-align: center;
  }

  .cards a {
    display: inline-block;
    padding: .5em .75em;
    border-radius: 4px;
    color: #6e6e6e;
    text-decoration: none;
  }

  .cards a:hover {
    background-color: #fff;
    color: #000;
  }

@media only screen and (min-width: 25em)  {

  .tinybanner {
    padding-top: 4.5em;
  }

  .linzer {
    padding-top: 1em;
  }

  a {

  }

}

@media only screen and (min-width: 38em)  {

  .tinybanner {
    padding-top: 0;
  }

  .linzer {
    padding-top: 1em;
  }

  .mainnav {
    text-align: right;
  }


}

@media only screen and (min-width: 60em)  {

  .tinybanner {
    padding-top: 0;
  }

  .linzer {
    padding-top: 1em;
  }

  .paragraphs {
    column-count: 2;
    column-gap: 2em;
  }

  .mainnav {
    text-align: right;
  }

  .navitems {
    text-align: right;
  }

  .navfirst {
    text-align: left;
  }

}

@media only screen and (min-width: 90em)  {

  .mainnav {
    text-align: right;
  }

}
